@{
Layout ="_Layout";
}

@model AnimalShelter.Models.Animal;

<h1>The Deets of The Animal</h1>
<hr />
<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
<h5>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h5>
<h5>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h5>
<h5>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h5>
<h5>@Html.DisplayNameFor(model => model.FavoriteBand): @Html.DisplayFor(model => model.FavoriteBand)</h5>
<h5>@Html.DisplayNameFor(model => model.DateOfAdmittance): @Html.DisplayFor(model => model.DateOfAdmittance)</h5>

<button>@Html.ActionLink("Back to List", "Index")</button>
